.register-container{
    display: grid;
    grid-template-rows: auto 1fr;
}
.register-content{
    max-width: 1300px;
    padding: 0 2rem ;
    justify-content: center;
    align-items: center;
    
}
@media(min-width:720px){
    .register-container{
        height: 100vh;
    }
    .register-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 3rem ;

    }  
    .register-container--article{
        flex-basis: 50%;
    text-align: center;
    justify-content: center;
    min-width: 300px;
    }
}