/* progress {
    background-color: rgba(57, 14, 150, 0.08);
    border: 0;
    height: 5px;
    border-radius: 10px;
    color: #053582;
    width: 100%;
  }
progress::-moz-progress-bar {
     color: #053582; 
     background-color: rgba(57, 14, 150, 0.08);
     border-radius: 10px !important;
    }
progress::-webkit-progress-value { background: #053582; } */

.progress{
    border-radius: 3px;
    width: 100%;
    height: .5rem;
    background: rgba(57, 14, 150, 0.08);
}

.progress-bar{
    background: #053582;
    width: 70%;
    height: .5rem;
    border-radius: 3px;
    animation: progress 1.5s forwards;
}

@keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
.register-container--form{
    min-width: 400px;
}
.homepage-form{
border-radius: 20px;
background: #FFFFFF;
box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 3rem 3rem 2rem 3rem;
margin: 1rem 0 4rem 0;
}
.homepage-form--container{
    margin-top: .9rem;
}
.homepage-form--name{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: .8rem;
}
.homepage-form--terms{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 1.2;
letter-spacing: 0.003em;
color: #252525;
flex: none;
order: 5;
flex-grow: 0;
margin: 24px 0px;
}
.homepage-form--footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.homepage-form--footer-text{
    color: #696974;
    font-size: 14px;
    line-height: 18px;
text-align: center;
letter-spacing: 0.003em;
}
.join{
    font-size: clamp(.5em,.5em + 1vw, .65em);
}
.homepage-form--password{
    display: flex;
    justify-content: flex-end;
}
.homepage-form--register{
    margin: auto;
    width: 95%;
}
@media(min-width:720px){
    .homepage-form{
        margin: auto;
        }
}